<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Posted</key>
		<date>2011-02-07T17:30:40Z</date>
		<key>HeadLine</key>
		<string>riisllc</string>
		<key>Detail</key>
		<string>Last day to win iPad in comp to design mobile app for Agile &amp; Beyond conf in Dearborn, MI see our iRise sim http://ow.ly/3RCED #agile #irise</string>
	</dict>
	<dict>
		<key>Posted</key>
		<date>2011-02-05T18:41:06Z</date>
		<key>HeadLine</key>
		<string>AgileAndBeyond</string>
		<key>Detail</key>
		<string>Detailed and constructive feedback on the #AgileAndBeyond mobile app will only be accepted until midnite. http://tinyurl.com/45qcfkm</string>
	</dict>
	<dict>
		<key>Posted</key>
		<date>2011-02-07T17:30:40Z</date>
		<key>HeadLine</key>
		<string>billwagner</string>
		<key>Detail</key>
		<string>RT @dmarsh: Working on panel discussion planning for &quot;Agile and Beyond&quot; 1 day conference, March 12. http://agileandbeyond.org/</string>
	</dict>
</array>
</plist>
